.dark {
  height: 50px;
  width: 50px;
  background-color: #975bba;
  display: grid;
}

.light {
  height: 50px;
  width: 50px;
  background-color: #e6cdf3;
  display: grid;
}

.piece {
  background-repeat: no-repeat;
  background-position: center;
  background-size: 45px;
  height: 50px;
  width: 50px;
}

.threat {
  background-repeat: no-repeat;
  background-position: center;
  background-color: rgb(134, 12, 12);
  background-size: 45px;
  height: 50px;
  width: 50px;
}

.piece:hover {
  cursor: grab;
}

.piece:active {
  cursor: grabbing;
}
