.evalbarcontainer {
  width: 100%;
  background-color: #eee;
  border-radius: 8px;
  overflow: hidden;
}

.evalbar {
  height: 20px;
  background-color: #4caf50;
  text-align: center;
  line-height: 20px;
  color: white;
  border-radius: 8px;
}
