name: Release minotaur

on:
  push:
    branches:
      - main

jobs:
  release:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout code
        uses: actions/checkout@v3

      - name: Set up Node.js
        uses: actions/setup-node@v3
        with:
          node-version: "20"
          registry-url: "https://registry.npmjs.org/"

      - name: Install dependencies
        run: npm install

      - name: Build with tsup
        working-directory: packages/minotaur-chess-engine/src
        run: npm run build

      - name: Display .npmrc content
        working-directory: packages/minotaur-chess-engine/src
        run: cat ~/.npmrc

      - name: Publish to npm
        working-directory: packages/minotaur-chess-engine/src
        env:
          NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
        run: npm publish --access public

      # - name: Run Semantic Release
      #   working-directory: packages/minotaur-chess-engine/src
      #   env:
      #     GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
      #     NPM_TOKEN: ${{ secrets.NPM_TOKEN }}
      #   run: npx semantic-release
